*{
}
div, td, h1, h2{
	font-size:10pt;
	line-height: 1.6em;
	font-family: Arial;
}
.medium-text{
	font-size: 9pt;
}
.small-text{
	font-size: 8pt;
}
.extra-small-text{
	font-size: 7pt;
}
.text-center{
	text-align: center;
}
.outer-frame{
	border:2px solid #000000;
	padding:2px;
}
.inner-frame{
	border:1px solid #000000;
	border-radius: 5px;
	margin:2px;
	padding:4px 10px;
}
h1{
	font-size: 18pt;
	text-align:center;
	font-weight:bold;
}
h2{
	font-size: 16px;
	font-weight:normal;
}
table{
    border-collapse: separate;
    border-spacing: 0px;
}
table td{
	vertical-align: top;
}
table tr td.box-border{
	width:20px;
	border: 1px solid;
}
.no-padding{
	padding:0!important;
}
table.no-border td, table.no-border th{
	border:none;
}
table td.no-border{
	border:none;
}
.borderlist td, .borderlist th{
	border-left:none;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	padding:4px 2px;
  font-size:12px;
}
.borderlist th{
	border:1px solid #000000;
	border-left:none;
}
.borderlist td.first-child, .borderlist th.first-child{
	border-left:1px solid #000000;
}
.borderlist td.text-center{
	text-align: center;
}
.borderlist td.text-right{
	text-align: right;
}
.borderlist td.top-bold{
	border-top:1px solid #000000;
}
.borderlist-content td{
	text-align:left;
  font-size:10px;
	border:none;
}
.borderlist-content td.choice{
	width:20px;
}
.borderlist-content td.big-choice{
	width:30px;
}
.dark-bg{
	background-color: #eaeaea;
}
.sign-group{
	margin:2px 0;
}
.sign-box{
	margin:0 2px;
	float:left;
}
.sign-circle{
	border:1px solid #000000;
	border-radius: 35px;
	margin:2px;
	margin-left: 20px;
	padding:10px 5px 0 5px;
	width:60px;
	height:60px;
	vertical-align: center;
	text-align:center;
}
.stamp-image{
	position:absolute;
	margin-top:-65px;
	margin-left:-20px;
	margin-right:-20px;
}
table.borderbottom tr td{
	border-bottom: 1px dotted #333333;
}
