.product__price-discount{
  margin:-20px 0 -5px 0;
}
.slash-red{
  position:relative;
  display:inline-block;
  padding:0 5px;
}
.slash-red:after{
  content: "";
  position: absolute;
  width: 120%;
  height: 2px;
  top: 50%;
  display: block;
  background: red;
  left: 50%;
  transform: translate(-50%, 0) rotate(165deg);
}
.product .product__price.text-red{
  color:red;
  font-weight: 500;
}