.form-group{
  display:block;
}
.form-group:before, .form-group:after{
  content: ' ';
  display:block;
  clear:both;
}
.control-label{
    text-align:left;
    display:block;
    padding: 9px 30px;
}
@media (min-width: 992px){
  .control-label{
    text-align:right;
    padding-right:10px;
  }
}
