.btn--google {
  min-width: 200px;
  margin: 0 5px;
  background-color: #E84C3D;
}
.btn--google .fa {
  margin-right: 20px;
}
.btn--google:hover {
  color: #ffffff;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  background-color: @empl-color;
  margin-top: -30px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-color: #32302a;
  }
  &:before{
    position: absolute;
    top: 14px;
    font: 30px FontAwesome;
    color: #ffffff;
  }
}
.swiper-button-prev{
  &:before {
    content: "\f104";
    right: 25px;
  }
}
.swiper-button-next {
  right: 0px;
  &:before {
    content: "\f105";
    left: 25px
  }
}
@media (max-width:768px) {
  .swiper-button-prev, .swiper-button-next{
    display:none;
  }
}
@media  (min-width: 768px) and (max-width:991px){
  .product-wrapper>.col-sm-6:nth-child(2n+1){
    clear:left;
  }
}
@media  (min-width: 992px){
  .product-wrapper>.col-md-4:nth-child(3n+1){
    clear:left;
  }
}
