.preloader{
	background-color:#ffffff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}




/* -- Loading thingy --*/
.loading-dot {
    border-radius:100%;
    height:10px;
    width:10px;
    background-color: #696559;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    top:0;
    bottom:0;
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
    -webkit-animation: load 3s infinite linear;
    -moz-animation: load 3s infinite linear;
    -o-animation: load 3s infinite linear;
    animation:load 3s infinite linear;
}


@-webkit-keyframes load {
  0%   {
    -webkit-transform: translate(0px,0px),rotate(0deg);
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

  25%{
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    -40px -40px 0px 0px #696559,40px 40px 0px 0px #696559,-40px 40px 0px 0px #696559,40px -40px 0px 0px #696559;
  }

  50%{
    box-shadow: 0px -40px 0px 0px #696559,0px 40px 0px 0px #696559,-40px 0px 0px 0px #696559,40px 0px 0px 0px #696559,
    -40px -40px 0px 0px #696559,40px 40px 0px 0px #696559,-40px 40px 0px 0px #696559,40px -40px 0px 0px #696559;
  }

  70%{
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
  }

  75%{
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    height:10px;
    width:10px;
  }

  80%{
    -webkit-transform: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:40px;
    width:40px;
  }

  85%{
    -webkit-transform: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:40px;
    width:40px;
  }

  90%{
    -webkit-transform: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:10px;
    width:10px;
  }

  95{
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

  100%{
    -webkit-transform: rotate(360deg);
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

}

@-moz-keyframes load {
  0%   {
    -moz-transform: translate(0px,0px),rotate(0deg);
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

  25%{
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    -40px -40px 0px 0px #696559,40px 40px 0px 0px #696559,-40px 40px 0px 0px #696559,40px -40px 0px 0px #696559;
  }

  50%{
    box-shadow: 0px -40px 0px 0px #696559,0px 40px 0px 0px #696559,-40px 0px 0px 0px #696559,40px 0px 0px 0px #696559,
    -40px -40px 0px 0px #696559,40px 40px 0px 0px #696559,-40px 40px 0px 0px #696559,40px -40px 0px 0px #696559;
  }

  70%{
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
  }

  75%{
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    height:10px;
    width:10px;
  }

  80%{
    -moz-transform: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:40px;
    width:40px;
  }

  85%{
    -moz-transform: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:40px;
    width:40px;
  }

  90%{
    -moz-transform: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:10px;
    width:10px;
  }

  95{
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

  100%{
    -moz-transform: rotate(360deg);
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

}

@keyframes load {
  0%   {
    transform: translate(0px,0px),rotate(0deg);
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

  25%{
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    -40px -40px 0px 0px #696559,40px 40px 0px 0px #696559,-40px 40px 0px 0px #696559,40px -40px 0px 0px #696559;
  }

  50%{
    box-shadow: 0px -40px 0px 0px #696559,0px 40px 0px 0px #696559,-40px 0px 0px 0px #696559,40px 0px 0px 0px #696559,
    -40px -40px 0px 0px #696559,40px 40px 0px 0px #696559,-40px 40px 0px 0px #696559,40px -40px 0px 0px #696559;
  }

  70%{
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
  }

  75%{
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    height:10px;
    width:10px;
  }

  80%{
    transform: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:40px;
    width:40px;
  }

  85%{
    transform: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:40px;
    width:40px;
  }

  90%{
    transform: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:10px;
    width:10px;
  }

  95{
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

  100%{
    transform: rotate(360deg);
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

}
@-o-keyframes load {
  0%   {
    -o-transforms: translate(0px,0px),rotate(0deg);
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

  25%{
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    -40px -40px 0px 0px #696559,40px 40px 0px 0px #696559,-40px 40px 0px 0px #696559,40px -40px 0px 0px #696559;
  }

  50%{
    box-shadow: 0px -40px 0px 0px #696559,0px 40px 0px 0px #696559,-40px 0px 0px 0px #696559,40px 0px 0px 0px #696559,
    -40px -40px 0px 0px #696559,40px 40px 0px 0px #696559,-40px 40px 0px 0px #696559,40px -40px 0px 0px #696559;
  }

  70%{
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
  }

  75%{
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    height:10px;
    width:10px;
  }

  80%{
    -o-transforms: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:40px;
    width:40px;
  }

  85%{
    -o-transforms: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:40px;
    width:40px;
  }

  90%{
    -o-transforms: translate(0px,0px) rotate(360deg);
    box-shadow: 0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,
    0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559,0px 0px 0px 0px #696559;
    background-color: #696559;
    height:10px;
    width:10px;
  }

  95{
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

  100%{
    -o-transforms: rotate(360deg);
    box-shadow: 0px 40px 0px 0px #696559,0px -40px 0px 0px #696559,40px 0px 0px 0px #696559,-40px 0px 0px 0px #696559,
    40px 40px 0px 0px #696559,-40px -40px 0px 0px #696559,40px -40px 0px 0px #696559,-40px 40px 0px 0px #696559;
  }

}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 103px;
    height: 103px;
    margin:-60px 0 0 -60px;
    -webkit-animation:rotate 4s linear infinite;
    -moz-animation:rotate 4s linear infinite;
    animation:rotate 4s linear infinite;
}
@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
