//Forms elements
//Contact form
.contact{
	margin-bottom: 20px;
	text-align: center;

	.contact__field{
		width: 100%;
		padding: 9px 30px;
		margin-bottom: 10px;
		font-size: 14px;
		//line-height: 26px;
		color: @primary-color;
		//Reset default setting
		background: none;
		border:none;
		border: solid 1px #dfe6e7;
		.border-radius(20px);
		box-shadow: none;

		&:focus{
			border-color: @primary-background;
		}
	}

	.contact__area{
		min-height: 200px;
	}

	.btn-submit{
		padding-left: 24px;
		padding-right: 24px;
	}
}
/* do not group these rules */
*::-webkit-input-placeholder {
	color: #999999;
}
*:-moz-placeholder {
	/* FF 4-18 */
	color: #999999;
}
*::-moz-placeholder {
	/* FF 19+ */
	color: #999999;
}
*:-ms-input-placeholder {
	/* IE 10+ */
	color: #999999;
}
//Select
//Override bootstrap
.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100%;
	margin-bottom: 20px;
	background-color: @null-color;
}

.bootstrap-select{
	position: relative;
	background: none;
	border: solid 1px #dfe6e7;
	.border-radius(20px);

	.selectpicker{
		padding: 10px 30px;
		font: 14px @regular-font;
		color: @primary-color;

		&:hover,
		&:focus,
		&:active{
			background-color: @null-color;
			outline: none !important;
			box-shadow: none;
		}
	}

	.filter-option{
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.dropdown-menu{
		top: 37px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 12px;

		border: none;
		.border-radius(20px);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
		   -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
		        box-shadow: 0 0 10px rgba(0,0,0,.1);

		li{
			border-bottom: 1px solid #dfe6e7;
		}

		li:last-child{
			border-bottom: 1px solid transparent;
		}

		li > a{
			padding-top: 9px;
			padding-bottom: 13px;
      color: @empl-color;
		}

		li.selected > a,
		li > a:hover{
			position: relative;
			background-color: @empl-color;
      color: @null-color;
		}

		li.selected > a,
		li > a:hover{
			&:before{
				content: "";
				position: absolute;
				top: -1px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: @empl-color;
				.transition(300ms);
			}

			&:after{
				content: "";
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: @empl-color;
				.transition(300ms);
			}
		}
	}
}

.bootstrap-select.open{
	border-color: @primary-background;

	.selectpicker.btn-default{
		background-color: @null-color;
	}
}

.bootstrap-select.btn-group{
	.selectpicker{
		.caret{
			right: 28px;
			display: inline-block;
			margin-top: -6px;
			border: none;

			&:before{
				content: "\f107";
				position: absolute;
				top: 1px;
				left: 7px;
				font-family: FontAwesome;
				font-size: 14px;
				font-style: normal;
				color: @primary-color;
			}
		}
	}
}

.select--sm{
	width: 125px;

	.selectpicker{
		padding: 1px 18px 3px;
		font-size: 12px;
	}

	.dropdown-menu{
		min-height: 1px !important;
		top: 23px;

		li > a{
			padding-top: 1px;
			padding-bottom: 3px;
		}
	}
}

.select--widget{
	position: absolute;
	top: 13px;
	right: 20px;
}



//Radio buttons and ckeckboxes
.form-control{
	label{
		margin-bottom: 10px;
	}
}

.radio,
.checkbox{
	label {
	position: relative;
   	display: block;

    padding-left: 28px;
    margin-right: 15px;

    font-size: 14px;
    color: #737c85;
    cursor: pointer;
}


}

.radio{
	margin-top: 23px;

	input[type=radio] {
    	display: none;
	}

	input[type=radio] + label:before {
	    content: "";
	    display: inline-block;

	    width: 12px;
	    height: 12px;

	    margin-right: 10px;
	    position: absolute;
	    left: 1px;
	    bottom: 3px;
	    border: 1px solid #dfe6e7;
	    .border-radius(6px);
	}

	input[type=radio]:checked + label:before {
	    content: "";
	    background-image: url("../images/icons/radio-check.svg?v=1");
	    background-size: 54px 14px;
	    background-position: 0 50%;
	    background-repeat: no-repeat;
	}

}

.checkbox{
	input[type=checkbox] {
    	display: none;
	}

	input[type=checkbox] + label:before {
	    content: "";
	    display: inline-block;
	    top: 4px;

	    width: 14px;
	    height: 14px;

	    margin-right: 10px;
	    position: absolute;
	    left: 0;
	    bottom: 3px;
	    border: 1px solid #dfe6e7;
	   .border-radius(3px);
	}

	input[type=checkbox]:checked + label:before {
	    content: "";
	    background-image: url("../images/icons/radio-check.svg");
	    background-size: 54px 14px;
	    background-position: -13px 50%;
	    background-repeat: no-repeat;
	}
}

//Radio-checkbox dark variant
.radio--dark{
	input[type=radio] + label:before {
		border:none;
		background-color: #34495e;
	}

	input[type=radio]:checked + label:before {
		background-position: -28px 50%;
	}
}

.checkbox--dark{
	input[type=checkbox] + label:before {
		border:none;
		background-color: #34495e;
	}

	input[type=checkbox]:checked + label:before {
		background-position: -39px 50%;
	}
}
