#nav-social{
  display:block;
  width:201px;
  margin:auto;
  padding-top:20px;
  .social-list{
    padding:2px 2px 0 2px;
    &:after{
      content: ' ';
      display:block;
      clear:both;
    }
  }
  .social-ico{
    display:block;
    float:left;
    width:40px;
    height:40px;
    cursor:pointer;
    transition:none;
    background-position:0 -40px;
    &+.social-ico{
      margin-left:11px;
    }
    &:hover{
      background-position:0 0;
    }
  }
  .social-facebook{
    background-image: url('../images/socials/ico-facebook.png');
  }
  .social-line{
    background-image: url('../images/socials/ico-line.png');
  }
  .social-youtube{
    background-image: url('../images/socials/ico-youtube.png');
  }
  .social-instagram{
    background-image: url('../images/socials/ico-instagram.png');
  }
}
