/*=============================================
[ Page Setup ]
==============================================*/
.rocket-place {
  position: relative;
}
.rocket-container {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -148px;
}
.rocket-container.rocket-marker {
  top: -297px;
  margin-left: -130px;
}
.rocket-container.rocket-top {
  opacity: 0;
  -webkit-transform: -webkit-translate(0, 0);
  -moz-transform: -moz-translate(0, 0);
  -ms-transform: -ms-translate(0, 0);
  transform: translate(0, 200px);
  -webkit-transition: -webkit-transform 1000ms ease-in 900ms, opacity 300ms ease-in 900ms;
  -moz-transition: -moz-transform 1000ms ease-in 900ms, opacity 300ms ease-in 900ms;
  transition: transform 1000ms ease-in 900ms opacity 300ms ease-in 900ms;
}
.rocket-container.small-left {
  top: 80px;
  margin-left: -213px;
  opacity: 0;
  -webkit-transform: -webkit-translate(0, 0);
  -moz-transform: -moz-translate(0, 0);
  -ms-transform: -ms-translate(0, 0);
  transform: translate(-300px, 100px);
  -webkit-transition: -webkit-transform 1000ms ease-in 1600ms, opacity 300ms ease-in 1600ms;
  -moz-transition: -moz-transform 1000ms ease-in 1600ms, opacity 300ms ease-in 1600ms;
  transition: transform 1000ms ease-in 1600ms, opacity 300ms ease-in 1600ms;
}
.rocket-container.small-right {
  top: 80px;
  margin-left: -93px;
  opacity: 0;
  -webkit-transform: -webkit-translate(0, 0);
  -moz-transform: -moz-translate(0, 0);
  -ms-transform: -ms-translate(0, 0);
  transform: translate(300px, 100px);
  -webkit-transition: -webkit-transform 1000ms ease-in 1600ms, opacity 300ms ease-in 1600ms;
  -moz-transition: -moz-transform 1000ms ease-in 1600ms, opacity 300ms ease-in 1600ms;
  transition: transform 1000ms ease-in 1600ms, opacity 300ms ease-in 1600ms;
}
.rocket-container.rocket-fright,
.rocket-container.rocket-fleft,
.rocket-container.rocket-ftop {
  opacity: 1;
  -webkit-transform: -webkit-translate(0, 0);
  -moz-transform: -moz-translate(0, 0);
  -ms-transform: -ms-translate(0, 0);
  transform: translate(0, 0);
}
#rocket {
  display: block;
  margin: 0 auto;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}
.rocket-small #rocket {
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  -ms-transform: scale(0.55);
  transform: scale(0.55);
}
.rocket-marker {
  -webkit-transition: -webkit-transform 2000ms ease-in;
  -moz-transition: -moz-transform 2000ms ease-in;
  transition: transform 2000ms ease-in;
  -webkit-transform: scale(0.75) rotate(90deg) translate(0, 500%);
  -moz-transform: scale(0.75) rotate(90deg) translate(0, 500%);
  -ms-transform: scale(0.75) rotate(90deg) translate(0, 500%);
  transform: scale(0.75) rotate(90deg) translate(0, 500%);
}
.rocket-marker.rocket-fl {
  -webkit-transform: scale(0.75) rotate(90deg) translate(0, 0);
  -moz-transform: scale(0.75) rotate(90deg) translate(0, 0);
  -ms-transform: scale(0.75) rotate(90deg) translate(0, 0);
  transform: scale(0.75) rotate(90deg) translate(0, 0);
}
.rocket-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  top: 170px;
  left: 137px;
  width: 19px;
  height: 148px;
  background-color: rgba(255, 161, 93, 0);
  background-image: url(../images/components/rocket-path.png);
  background-size: 19px 148px;
  background-repeat: no-repeat;
}
.rocket-small:before {
  top: 160px;
  left: 143px;
  width: 12px;
  height: 145px;
  background-image: url(../images/components/rocket-path-sm.png);
  background-size: 12px 145px;
  background-repeat: no-repeat;
}
/*=============================================
[ Inactive State Styles ]
==============================================*/
#rocket .rocket-inner {
  -webkit-transform: translateY(15px) translateX(-3px);
  -moz-transform: translateY(15px) translateX(-3px);
  -ms-transform: translateY(15px) translateX(-3px);
  -o-transform: translateY(15px) translateX(-3px);
  transform: translateY(15px) translateX(-3px);
  /*transition*/
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
#rocket .icon-circle {
  /*transition*/
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  fill: #22303e;
}
#rocket .large-window-path {
  /*transition*/
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  fill: #fe8f8c;
}
#rocket .small-window-path {
  /*transition*/
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  fill: #fe8f8c;
}
#rocket .rocket-bottom {
  fill: #fe8f8c;
}
#rocket .rocket-base {
  fill: #fff;
}
#rocket .rocket-shadow {
  fill: #f2f2f2;
}
#rocket .wing-base {
  fill: #fe8f8c;
}
#rocket .wing-shadow {
  fill: #e57976;
}
#rocket .fire-path {
  fill: #fff;
}
#rocket .window {
  fill: #fe8f8c;
}
.rocket-small #rocket .rocket-bottom {
  fill: #85d6de;
}
.rocket-small #rocket .wing-base {
  fill: #85d6de;
}
.rocket-small #rocket .wing-shadow {
  fill: #78c0c8;
}
.rocket-small #rocket .window {
  fill: #85d6de;
}
/*=============================================
[ Clicked Styles ]
==============================================*/
#rocket.clicked .fire {
  display: inline-block;
}
#rocket.clicked .baseClicked {
  fill: #FFFFFF !important;
  stroke-width: 0px !important;
}
#rocket.clicked .shadowClicked {
  fill: #EDEDED !important;
  stroke-width: 0px !important;
}
#rocket.clicked .iconCircleClicked {
  fill: #282e3a !important;
  stroke: #fff !important;
  stroke-width: 7px !important;
}
#rocket.clicked .smallWindowClicked {
  fill: #28B767 !important;
  stroke-width: 0px !important;
}
#rocket.clicked .wingShadowClicked {
  display: block !important;
  fill: #FC9252 !important;
}
#rocket.clicked .wingBaseClicked {
  fill: #E16E36 !important;
  stroke-width: 0px !important;
}
#rocket.clicked .rocketBottomClicked {
  fill: #2DCB73 !important;
  stroke-width: 0px !important;
}
#rocket.clicked .largeWindowClicked {
  fill: url(#SVGID-2-) !important;
  stroke-width: 0px !important;
}
#rocket.clicked .innerClicked {
  -webkit-transform: translateY(0px) translateX(-3px) !important;
  -moz-transform: translateY(0px) translateX(-3px) !important;
  -ms-transform: translateY(0px) translateX(-3px) !important;
  -o-transform: translateY(0px) translateX(-3px) !important;
  transform: translateY(0px) translateX(-3px) !important;
}
/*=============================================
[ KeyFrame Animations ]
==============================================*/
@keyframes fireSmall {
  10% {
    transform: rotate(17deg) translateY(1px);
  }
  20% {
    transform: rotate(-13deg) translateY(2px);
  }
  30% {
    transform: rotate(21deg) translateY(3px);
  }
  40% {
    transform: rotate(-34deg) translateY(4px);
  }
  50% {
    transform: rotate(24deg) translateY(5px);
  }
  60% {
    transform: rotate(-17deg) translateY(6px);
  }
  70% {
    transform: rotate(31deg) translateY(7px);
  }
  80% {
    transform: rotate(-28deg) translateY(8px);
  }
  90% {
    transform: rotate(14deg) translateY(9px);
  }
  99% {
    transform: rotate(0deg) translateY(10px);
  }
}
@-webkit-keyframes fireSmall {
  10% {
    -webkit-transform: rotate(17deg) translateY(1px);
  }
  20% {
    -webkit-transform: rotate(-13deg) translateY(2px);
  }
  30% {
    -webkit-transform: rotate(21deg) translateY(3px);
  }
  40% {
    -webkit-transform: rotate(-34deg) translateY(4px);
  }
  50% {
    -webkit-transform: rotate(24deg) translateY(5px);
  }
  60% {
    -webkit-transform: rotate(-17deg) translateY(6px);
  }
  70% {
    -webkit-transform: rotate(31deg) translateY(7px);
  }
  80% {
    -webkit-transform: rotate(-28deg) translateY(8px);
  }
  90% {
    -webkit-transform: rotate(14deg) translateY(9px);
  }
  99% {
    -webkit-transform: rotate(0deg) translateY(10px);
  }
}
@-moz-keyframes fireSmall {
  10% {
    -moz-transform: rotate(17deg) translateY(1px);
  }
  20% {
    -moz-transform: rotate(-13deg) translateY(2px);
  }
  30% {
    -moz-transform: rotate(21deg) translateY(3px);
  }
  40% {
    -moz-transform: rotate(-34deg) translateY(4px);
  }
  50% {
    -moz-transform: rotate(24deg) translateY(5px);
  }
  60% {
    -moz-transform: rotate(-17deg) translateY(6px);
  }
  70% {
    -moz-transform: rotate(31deg) translateY(7px);
  }
  80% {
    -moz-transform: rotate(-28deg) translateY(8px);
  }
  90% {
    -moz-transform: rotate(14deg) translateY(9px);
  }
  99% {
    -moz-transform: rotate(0deg) translateY(10px);
  }
}
@-webkit-keyframes fireLeft {
  6% {
    -webkit-transform: rotate(25deg);
  }
  15% {
    -webkit-transform: rotate(-19deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
  }
  32% {
    -webkit-transform: rotate(-30deg);
  }
  46% {
    -webkit-transform: rotate(22deg);
  }
  54% {
    -webkit-transform: rotate(-29deg);
  }
  61% {
    -webkit-transform: rotate(32deg);
  }
  74% {
    -webkit-transform: rotate(-9deg);
  }
  83% {
    -webkit-transform: rotate(16deg);
  }
  99% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes fireLeft {
  6% {
    -moz-transform: rotate(25deg);
  }
  15% {
    -moz-transform: rotate(-19deg);
  }
  25% {
    -moz-transform: rotate(25deg);
  }
  32% {
    -moz-transform: rotate(-30deg);
  }
  46% {
    -moz-transform: rotate(22deg);
  }
  54% {
    -moz-transform: rotate(-29deg);
  }
  61% {
    -moz-transform: rotate(32deg);
  }
  74% {
    -moz-transform: rotate(-9deg);
  }
  83% {
    -moz-transform: rotate(16deg);
  }
  99% {
    -moz-transform: rotate(0deg);
  }
}
@keyframes fireMiddle {
  10% {
    transform: rotate(25deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(-22deg);
  }
  50% {
    transform: rotate(29deg);
  }
  60% {
    transform: rotate(-45deg);
  }
  70% {
    transform: rotate(37deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  90% {
    transform: rotate(16deg);
  }
  99% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes fireMiddle {
  10% {
    -webkit-transform: rotate(25deg);
  }
  20% {
    -webkit-transform: rotate(-25deg);
  }
  30% {
    -webkit-transform: rotate(30deg);
  }
  40% {
    -webkit-transform: rotate(-22deg);
  }
  50% {
    -webkit-transform: rotate(29deg);
  }
  60% {
    -webkit-transform: rotate(-45deg);
  }
  70% {
    -webkit-transform: rotate(37deg);
  }
  80% {
    -webkit-transform: rotate(-15deg);
  }
  90% {
    -webkit-transform: rotate(16deg);
  }
  99% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes fireMiddle {
  10% {
    -moz-transform: rotate(25deg);
  }
  20% {
    -moz-transform: rotate(-25deg);
  }
  30% {
    -moz-transform: rotate(30deg);
  }
  40% {
    -moz-transform: rotate(-22deg);
  }
  50% {
    -moz-transform: rotate(29deg);
  }
  60% {
    -moz-transform: rotate(-45deg);
  }
  70% {
    -moz-transform: rotate(37deg);
  }
  80% {
    -moz-transform: rotate(-15deg);
  }
  90% {
    -moz-transform: rotate(16deg);
  }
  99% {
    -moz-transform: rotate(0deg);
  }
}
@keyframes fireRight {
  15% {
    transform: rotate(17deg);
  }
  23% {
    transform: rotate(-13deg);
  }
  37% {
    transform: rotate(21deg);
  }
  45% {
    transform: rotate(-34deg);
  }
  54% {
    transform: rotate(24deg);
  }
  67% {
    transform: rotate(-17deg);
  }
  72% {
    transform: rotate(31deg);
  }
  84% {
    transform: rotate(-28deg);
  }
  96% {
    transform: rotate(14deg);
  }
  99% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes fireRight {
  15% {
    -webkit-transform: rotate(17deg);
  }
  23% {
    -webkit-transform: rotate(-13deg);
  }
  37% {
    -webkit-transform: rotate(21deg);
  }
  45% {
    -webkit-transform: rotate(-34deg);
  }
  54% {
    -webkit-transform: rotate(24deg);
  }
  67% {
    -webkit-transform: rotate(-17deg);
  }
  72% {
    -webkit-transform: rotate(31deg);
  }
  84% {
    -webkit-transform: rotate(-28deg);
  }
  96% {
    -webkit-transform: rotate(14deg);
  }
  99% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes fireRight {
  15% {
    -moz-transform: rotate(17deg);
  }
  23% {
    -moz-transform: rotate(-13deg);
  }
  37% {
    -moz-transform: rotate(21deg);
  }
  45% {
    -moz-transform: rotate(-34deg);
  }
  54% {
    -moz-transform: rotate(24deg);
  }
  67% {
    -moz-transform: rotate(-17deg);
  }
  72% {
    -moz-transform: rotate(31deg);
  }
  84% {
    -moz-transform: rotate(-28deg);
  }
  96% {
    -moz-transform: rotate(14deg);
  }
  99% {
    -moz-transform: rotate(0deg);
  }
}
@keyframes fillOpacity1 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
@-webkit-keyframes fillOpacity1 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
@-moz-keyframes fillOpacity1 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  50% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
@keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  25% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
@-webkit-keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  25% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
@-moz-keyframes fillOpacity2 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  25% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
@keyframes fillOpacity3 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  67% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
@-webkit-keyframes fillOpacity3 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  67% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
@-moz-keyframes fillOpacity3 {
  0% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  67% {
    fill-opacity: 1;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    stroke-opacity: 0;
  }
}
@keyframes rocektMove {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
@-webkit-keyframes rocektMove {
  0% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(20px);
  }
}
@-moz-keyframes rocektMove {
  0% {
    -moz-transform: translateY(0px);
  }
  100% {
    -moz-transform: translateY(20px);
  }
}
/*=============================================
[ Animation Classes ]
==============================================*/
.fire {
  display: none;
  fill: #fed37f;
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  fill-opacity: 1;
  /*animation-timing-function*/
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  stroke-width: 0px;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*transform-origin*/
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /*animation-direction*/
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -ms-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
}
#rocket.clicked #fire-left {
  display: block;
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireLeft, fillOpacity1;
  -moz-animation-name: fireLeft, fillOpacity1;
  -ms-animation-name: fireLeft, fillOpacity1;
  -o-animation-name: fireLeft, fillOpacity1;
  animation-name: fireLeft, fillOpacity1;
  /*animation-duration*/
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
#rocket.clicked #fire-middle {
  display: block;
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireMiddle, fillOpacity1;
  -moz-animation-name: fireMiddle, fillOpacity1;
  -ms-animation-name: fireMiddle, fillOpacity1;
  -o-animation-name: fireMiddle, fillOpacity1;
  animation-name: fireMiddle, fillOpacity1;
  /*animation-duration*/
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
#rocket.clicked #fire-right {
  display: block;
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireRight, fillOpacity1;
  -moz-animation-name: fireRight, fillOpacity1;
  -ms-animation-name: fireRight, fillOpacity1;
  -o-animation-name: fireRight, fillOpacity1;
  animation-name: fireRight, fillOpacity1;
  /*animation-duration*/
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-duration: 1.3s;
}
#rocket.clicked #fire-small-left {
  display: block;
  /*animation-delay*/
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  /*animation-name*/
  -webkit-animation-name: fireSmall, fillOpacity2;
  -moz-animation-name: fireSmall, fillOpacity2;
  -ms-animation-name: fireSmall, fillOpacity2;
  -o-animation-name: fireSmall, fillOpacity2;
  animation-name: fireSmall, fillOpacity2;
  /*animation-duration*/
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  animation-duration: 1.3s;
  /*transform-origin*/
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
}
#rocket.clicked #fire-small-right {
  display: block;
  /*animation-delay*/
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  /*animation-name*/
  -webkit-animation-name: fireSmall, fillOpacity3;
  -moz-animation-name: fireSmall, fillOpacity3;
  -ms-animation-name: fireSmall, fillOpacity3;
  -o-animation-name: fireSmall, fillOpacity3;
  animation-name: fireSmall, fillOpacity3;
  /*animation-duration*/
  -webkit-animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -ms-animation-duration: 1.6s;
  -o-animation-duration: 1.6s;
  animation-duration: 1.6s;
  /*transform-origin*/
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
}
