#nav-social {
  display: block;
  width: 201px;
  margin: auto;
  padding-top: 20px;
}
#nav-social .social-list {
  padding: 2px 2px 0 2px;
}
#nav-social .social-list:after {
  content: ' ';
  display: block;
  clear: both;
}
#nav-social .social-ico {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: none;
  background-position: 0 -40px;
}
#nav-social .social-ico + .social-ico {
  margin-left: 11px;
}
#nav-social .social-ico:hover {
  background-position: 0 0;
}
#nav-social .social-facebook {
  background-image: url('../images/socials/ico-facebook.png');
}
#nav-social .social-line {
  background-image: url('../images/socials/ico-line.png');
}
#nav-social .social-youtube {
  background-image: url('../images/socials/ico-youtube.png');
}
#nav-social .social-instagram {
  background-image: url('../images/socials/ico-instagram.png');
}
