//Colors
@primary-color: #34495e;
@primary-background: #34495e;
@secondary-color: #696559;
@secondary-background: #85d6de;
@highlight-color: #fed37f;
@warning-color:#fed37f;
@danger-color:#fe8f8c;
@null-color:#fff;
@empl-color:#696559;
@green-color:#0b9444;
@grey30-color:#999999;
@grey20-color:#d1d2d4;
@grey10-color:#e7e7e8;
@grey5-color:#f3f3f4;

//Fonts
@brand-font: 'Varela Round', 'psl_kanda_probold', sans-serif;
@regular-font: 'Open Sans', 'psl_kanda_probold', sans-serif;
