@media  (min-width: 1920px){
	.twitter-section,
	.promo--parallax{
		background-size: cover;
	}
}

@media  (max-width: 1600px){
	//royal slider
	.slide--phone{
		.slide__image{
			img{
				width: 15%;
				height: 50%;
			}
		}

		.slide__btn{
			.btn{
				padding-left: 12px;
				padding-right: 12px;
			}
		}
	}

	.slide--text{
		.slide__heading{
			top: 19%;
		}

		.slide__heading-sub{
			top: 26%;
		}

		.slide__info{
			top: 40%;
		}

		.link{
			top: 70%;
		}
	}

	.slide--circle{
		.brand-circle{
			top: 2%;
		}

		.slide__heading{
			top: 33%;
		}

		.slide__heading-sub{
			top: 45%;
		}

		.slide__btn{
			top: 60%;
		}
	}

	.dashboard-widget{
		padding-left: 0px;
		padding-right: 0px;
	}

	.datepicker-inline{
		padding-left: 10px;
		padding-right: 10px;
	}
}

// Large devices (large desktops, 1200px)
@media  (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.z-nav__item .mega-menu{
		margin-left: -880px;
	}

	//royalslider
	.slide--text{
		.slide__heading{
			top: 19%;
		}

		.slide__heading-sub{
			top: 26%;
			font-size: 36px;
		}

		.slide__info{
			top: 40%;
		}

		.link{
			top: 80%;
		}
	}

	.slide--circle{
		.brand-circle{
			top: -30px;
		}

		.slide__heading{
			top: 33%;
		}

		.slide__heading-sub{
			top: 45%;
		}

		.slide__btn{
			top: 60%;
		}
	}

	//onepage layout
	.start-block{
		padding-top: 220px;
		padding-bottom: 320px;
	}

	.rocket-container{
	    top: -45px;
	}

	.rocket-container.small-left{
	    top: 30px;
	}

	.rocket-container.small-right{
	    top: 30px;
	}

	//fullwidth slider arrow
	.tparrows.default{
		width: 10%;
	}

	.link-sample {
	    margin-right: 50px;
	}

	.sequence .sequence__devider{
		margin: 0 5px;
	}

	.slider-siderbar-control{
		min-height: 309px;
	}

	.slide-info .slide-info__icon{
		font-size: 70px;
	}

	.price--stript{
		.price__btn{
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	.widget{
		margin-bottom: 20px;
	}

	.footer{
		.swiper-container{
			padding-bottom: 40px;
		}

		.swiper-pagination{
			bottom: 10px;
		}
	}

	//Post responsive
	.blockquote{
		padding-right: 75px;
	}

	.post__interaction .share .share__item{
		padding-left: 12px;
		padding-right: 12px;
	}

	.subscribe .subscribe__field{
		min-width: 260px;
	}

	.post--similar .post__images{
		margin-bottom: 40px;
	}

	.facebook-group iframe{
		width: 250px !important;
	}

	.flickr li{
		width: auto;
	}

	.slider-siderbar--secondary .slide-info__heading{
		margin-top: 40px;
	}

	.post--preview-link{
		.post__heading{
			margin-top: 10px;
			margin-bottom: 8px;
		}

		.post__author{
			margin-top: -20px;
		}
	}

	//timeline post
	.post--short-link{
		.image-container{
			margin-right: 15px;
		}

		.post__heading{
			padding: 7px 0 12px;
		}

		.post__date{
			margin-bottom: 5px;
		}
	}

	.post--short-link:nth-child(2n){
		.image-container{
			margin-left: 15px;
		}
	}

	.post-author{
		.post-author__social .social__item{
			margin-right: -2px;
		}
	}

	.post--table-horisontal{
		.post__heading{
			padding: 13px 35px 13px 0;
		}

		.post__detail{
			padding: 0;
		}

		.post__date{
			margin-bottom: 5px;
		}
	}

	.desktop-middle{
		.gallery-item__heading{
			padding-top: 20%;
		}
	}

	.desktop-small{
		.gallery-item__heading{
			padding-top: 13%;
		}
	}

	//staff slider
	.staff .staff__name{
		margin-top: 15px;
	}

	.opposite-block .stat--additional{
		margin-right: 20px;
	}

	//vacancy
	.vacancy{
		padding-left: 60px;

		.vacancy__heading{
			margin-left: -40px;
		}
	}

	//contact
	.form-handler{
		padding: 59px 90px 0;
	}

	.contact-info--primary .contact-info__item{
		margin-right: 0;
		padding-left: 30px;
	}

	.service-step .service-step__descript{
		padding-left: 115px;
	}

	.service--colored-large .service__heading{
		padding-top: 42px;
	}



	.dashboard-timetable{
		.wijchart-axis-label{
			display: none;
		}

		.wijchart-axis-label:nth-child(2n){
			display: block;
		}
	}

	.search--empty .search__field{
		width: 275px;
	}

	.search--centered{
		margin-left: 25px;
	}

	//product
	.product .product__sale{
		top: 100%;
		left: 0;
	}

	.product--flow{
		min-height: 310px;
	}

	.product .product__sale--under{
		top: -70%;
		left: 20%;
	}

	.product--list .product__title{
		margin-top: 10px;
		padding-right: 0;
	}

	.product--list .product__photo{
		max-width: 300px;
	}

	.product--list-sm{
		.product__photo{
			max-width: 165px;
		}
	}

	.subscribe--empty{
		float: none;
	}

	//
	.table--short td{
		padding-left: 40px;
	}

	.stat--shape:before,
	.stat--shape:after{
		right: -30px;
	}

	.subscribe--huge .subscribe__field{
		min-width: 640px;
	}

	.tags-line .tags-line__title{
		margin-right: 35px;
	}

	.service-shot .service-shot__item{
		margin: 0 50px;
	}

	.subscribe-line .subscribe__field {
	    min-width: 510px;
	}

	.header-line--shop + .fixed-top .z-nav .z-nav__link{
		 padding: 42px 10px;
	}

	.header-line--shop + .fixed-top .z-nav .z-nav__list-secondary .z-nav__link{
		 padding: 8px 0 7px 10px;
	}

	.z-nav--shop .z-nav__item .mega-menu{
		margin-left: -690px;
	}

}

// Additional for dashboard
@media (min-width: @screen-sm-max) and (max-width: 1100px) {
	.column-sm{
		width: 50%;
	}

	.column-lg{
		width: 100%;
	}
}

// Medium devices (desktops, 992px)
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	//royalslider
	.slide--text{
		.slide__heading{
			top: 19%;
			left: 35%;
		}

		.slide__heading-sub{
			top: 26%;
			left: 35%;
			font-size: 36px;
		}

		.slide__info{
			top: 40%;
			left: 35%;
			color: @primary-color;
		}

		.link{
			top: 80%;
			left: 35%;
		}
	}

	.slide--circle{
		.brand-circle{
			top: -20px;
			margin-left: -145px;
		}

		.slide__heading{
			top: 33%;
			font-size: 36px;
		}

		.slide__heading-sub{
			top: 46%;
			font-size: 20px;
		}

		.slide__btn{
			top: 63%;
		}
	}

	//onepage layout
	.start-block{
		padding-top: 220px;
		padding-bottom: 320px;
	}

	.rocket-container{
	    top: -45px;
	}

	.rocket-container.small-left{
	    top: 30px;
	}

	.rocket-container.small-right{
	    top: 30px;
	}

	//mage menu
	.z-nav__item .mega-menu,
	.z-nav__item:hover .mega-menu{
		width: 750px;
		margin-left: -675px;
	}

	.z-nav--shop .z-nav__item:hover .mega-menu{
		margin-left: -675px;
	}

	.column-sm{
		width: 50%;
	}

	.column-lg{
		width: 100%;
	}

	//Nav shop
	.z-nav--shop{
		margin-right: 25px;
	}

	.cart{
		top: 25px;

		.cart__link{
			padding-left: 10px;
			padding-right: 10px;
		}

		.cart__icon{
			margin-right: 0;
		}

		.cart__indecator{
			display: none;
		}

		.icon__more{
			display: none;
		}
	}

	//Widget
	.dashboard-timetable{
		.wijchart-axis-label{
			display: none;
		}

		.wijchart-axis-label:nth-child(2n){
			display: block;
		}
	}

	//Contact block
	.contact-info .contact-info__item{
		padding-right: 10px;
	}

	//Search
	.search .search__field{
		width: 200px;
	}

	//Navigation padding
	.z-nav{
		margin-right: -18px;
	}

	.z-nav .z-nav__link{
		padding-left: 8px;
		padding-right: 8px;
	}

	//Post correct
	.post--latest .post__images{
		margin-bottom: 20px;
	}

	//fullwidth slider info
	.slider-info{
		padding-top: 30px;
		font-size: 14px;
	}

	.brand-circle{
		width: 290px;
		height: 290px;
	}

	.tparrows.default{
		width: 10%;
	}

	//img container
	.image-container{
		margin-bottom: 20px;
	}

	.link-sample {
	    margin-right: 15px;
	}

	.swiper-slide .image-container{
		margin-bottom: 0;
	}

	//stat shape
	.stat--shape{
		margin-bottom: 20px;
	}

	.stat--shape:before,
	.stat--shape:after{
		right: -100px;
	}

	.stat--shape-end:before,
	.stat--shape-end:after{
		display: none;
	}

	//paginatiom
	.pagination--circle .pagination__item{
		margin: 0;
	}

	.pagination--rect .pagination__item{
		padding-left: 15px;
		padding-right: 15px;
		margin-right: 0;
	}

	.promo--border-full .promo__text{
		width: 60%;
	}

	//table
	.table--wide tbody > tr > td.table__done,
	.table--wide tbody > tr > td.table__wait,
	.table--wide tbody > tr > td.table__error{
		padding-left: 10px;
		padding-right: 10px;
	}

	.testimonial{
		margin-bottom: 20px;
	}

	.sequence .sequence__devider{
		margin: 0 2px;
	}

	.slider-siderbar-control{
		min-height: 100%;
		padding-bottom: 90px;
		margin-right: 0;
	}

	.slide-info .slide-info__icon{
		margin-top: -20px;
		margin-bottom: -20px;
	}

	// .slide-info{
	// 	padding: 0 100px;
	// }

	.slide-info .slide-info__heading{
		margin-bottom: 4px;
	}

	.slide-info__icon{
		display: none;
	}

	.widget{
		margin-bottom: 20px;
	}

	.link-list{
		margin-bottom: 60px;
	}

	.price--row{
		.price__package{
			font-size: 42px;
		}

		.price__btn{
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	.price--simple{
		.price__btn{
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.price--stript{
		.price__btn{
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.icon--strips .icon__item{
		margin-bottom: 25px;
	}

	.footer{
		.swiper-container{
			padding-bottom: 60px;
		}

		.swiper-pagination{
			bottom: 10px;
		}
	}

	.thumbs .thumb{
		max-width: 100px;
	}

	.present-addition{
		margin-top: 20px;
	}

	//Post responsive
	.blockquote{
		padding-right: 50px;
		padding-left: 52px;
	}

	.submit-control{
		width: 100%;
	}

	.subscribe .subscribe__field{
		min-width: 100%;
		width: 100%;
	}

	.post__interaction .share .share__item{
		padding-left: 15px;
		padding-right: 10px;
	}

	.post--similar .post__images{
		margin-bottom: 10px;
		float: none;
	}

	.facebook-group iframe{
		width: 180px !important;
		height: 325px !important;
	}

	.flickr li{
		width: auto;
	}

	.comment-form .btn-submit{
		margin-top: 10px;
	}

	.post--popular .image-container{
		margin-bottom: 0;
	}

	.slider-siderbar--secondary .slide-info__heading{
		margin-top: -5px;
	}

	.slider-siderbar-control{
		min-height: 207px;
	}

	.slide-info .slide-info__text{
		margin-bottom: -14px;
		line-height: 20px;
	}

	.blockquote{
		padding-left: 82px;
	}

	.blockquote--empty:after{
		left: 0px;
	}

	.post--preview-link{
		.image-container{
			margin-bottom: 0;
		}

		.post__heading{
			margin-top: 52px;
		}
	}

	.post--table{
		width: 33.2%;

		.image-container,
		.testimonial{
			margin-bottom: 0;
		}
	}

	//timeline post
	.post--short-link .post{
		max-width: 260px;
	}

	.post--short-link .post__detail{
		padding-bottom: 20px;
	}

	.post--short-link .image-container{
		margin-right: 0;
		max-width: 260px;
	}

	.post--short-link:nth-child(2n) .image-container{
		margin-left: 0;
	}

	.post-author{
		.post-author__photo{
			max-width: 235px;
			margin-right: 30px;
			margin-bottom: 0;

		}
	}

	.post--table-horisontal{
		width: 100%;

		.post__heading{
			padding-right: 0;
		}
	}

	//
	.desktop-middle,
	.desktop-small{
		.gallery-item__heading{
			padding-top: 10%;
			font-size: 14px;
		}

		.btn{
			padding: 10px 21px 7px;
			font-size: 16px;
		}
	}

	//about
	.about{
		background-position: 150% 100%;
	}

	.achivement-item .achivement-item__marker:before{
		left: -50px;
	}

	.achivement-item .achivement-item__marker:after{
		right: -50px;
	}

	.opposite-block .stat{
		display: block;
	}

	.opposite-block .stat-row{
		padding-bottom: 0;
	}

	//vacancy
	.vacancy{
		padding-left: 40px;

		.vacancy__heading{
			margin-left: -20px;
		}
	}

	.join .join__additional:before{
		width: 170px;
		left: -195px;
	}

	.join .join__additional:after{
		width: 170px;
		right: -195px;
	}

	//contact
	.comment-form .btn--top-control{
		margin-top: -34px;
	}

	.form-handler{
		padding: 59px 50px 0;
	}

	.contact-info--primary .contact-info__item{
		display: inline-block;
		margin-bottom: 15px;
	}

	.service-step .service-step__descript{
		padding-left: 35px;
	}

	//Specific header
	.search--empty{
		padding-top: 10px;
	}

	.search--empty .search__field{
		width: 400px;
	}

	.search--empty .search__btn{
		top: 19px;
	}

	.header-fluid .header__controls{
		padding-top: 0;
	}

	.search--centered{
		margin-left: 10px;
	}

	.product .product__sale--under{
		top: -70%;
		left: 20%;
	}

	.product--list .product__photo{
		margin-bottom: 20px;
	}


	//slideshow-full
	.slidershow-large{
		/*max-height: 285px;*/
	}

	.thumbs--full .thumb{
		max-width: 100%;
	}

	.thumbs--full li{
		width: 31.5%;
	}

	.subscribe--empty{
		float: none;
	}

	.table--short td{
		padding-left: 20px;
	}

	.table--product tbody > tr > td{
		padding-left: 12px;
		padding-right: 12px;
	}

	.table--cut{
		max-width: 245px;
	}

	.blockquote--strong{
		padding-left: 5px;
		padding-right: 5px;
	}

	.post--latest .post__text{
		margin-right: 0;
	}

	.opposite-block{
		padding-left: 45px;
	}

	.progress-cut{
		padding-right: 45px;
	}

	.service--large-present .icon{
		margin-right: 18px;
	}

	.feature .feature__image--page img{
		max-width: 181px;
	}

	.feature .feature__image--responsive img{
		max-width: 221px;
	}

	.feature .feature__image--clock{
		padding-left: 60px;
	}

	.feature .feature__image--clock img {
	    max-width: 120px;
	}

	.feature .feature__heading{
		margin-top: 30px;
	}

	//special block
	.special .special-inner:before,
	.special .special-inner:after{
		display: none;
	}

	//testimonial section share area
	.sub-header--mobile{
		float: left;
		margin-top: -34px;
		margin-right: 40px;
		margin-bottom: 40px;
		overflow: hidden;
	}

	.share--top{
		margin-top: 106px;
		margin-bottom: 0;
	}

	.testimonial-block--home{
		padding-bottom: 110px;
	}

	//tags line
	.tags-line{
		text-align: center;
		padding-bottom: 2px;
	}

	.tags-line .tags-line__title{
		margin-right: 0;
		margin-bottom: 15px;
		display: block;
		float: none;
	}

	.tags--bordered .tags__link{
		margin-bottom: 20px;
	}

	.service-shot .service-shot__item{
		margin: 0 15px;
	}

	.subscribe-line .subscribe-line__info{
		display: block;
		text-align: center;
	}

	.subscribe-line .subscribe{
		float: none !important;
	}

	.subscribe-line .subscribe__field {
	    min-width: 100%;
	}

	.service--reflow{
		.icon{
			float: none;
			display: inline-block;
		}

		.service__heading{
			display: inline-block;
		}
	}

	.footer--expand .contact-info .contact-info__item{
		max-width: 200px;
		margin-right: 5px;
	}

	.table--target .table__date{
		line-height: 16px;
	}

	.table--target .table__category-photo{
		margin-bottom: 20px;
	}

	.table--wide tbody > tr > td{
		padding: 19px 7px 18px;
	}

	.table--product .product__thumb{float: none;}

	.case--slider{
		margin-bottom: 0;
	}

	.slider-siderbar-control .prev-arrow,
	.slider-siderbar-control .next-arrow{
		height: 50px;
		padding-top: 4px;
	}

	.slider-siderbar-control .slider-siderbar-counter{
		height: 63px;
	}

	.slider-siderbar--secondary .slide-info__heading{
		margin-top: 10px;
	}

	.heading-mobile{
		margin-top: 30px;
	}

	.slide-info .slide-info__heading{
		margin-top: 10px;
		margin-bottom: 8px;
	}
}

// Additional for dashboard
@media (min-width: @screen-sm-min) and (max-width: 840px) {
	.column-specific{
		width: 65%;
	}

	.column-lg{
		width: 100%;
	}

	.fading-slider{
		.service .icon{
			float: none;
		}

		.service .service__heading{
			padding: 10px 0 15px;
		}
	}

	//shop slider

	.slider__text{
		display: none;
	}

	.slider__heading--sm-danger{
		padding-left: 20px !important;
	}

	.slider__heading--lg-primary{
		margin-top: 5px !important;
		padding-left: 20px !important;
	}

	.slider__btn--mobile{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	.slider__discount{
		padding-right: 20px !important;
	}

	.slider__marker{
		padding-right: 20px !important;
	}

	.slider__about{
		padding-right: 20px !important;
	}

	.laptop--mobile{
		padding-left: 20px !important;
	}

}

@media (max-width: @screen-sm-min){
	.header-fixed{
		position: relative;
	}

	.fixed-top{
		margin-top: 0;
	}

	//royalslider

	.slide--phone{
		.slide__heading{
			top: 25%;

			font-size: 36px;
		}

		.slide__image{
			display: none;
		}

		.slide__btn{
			position: absolute;
			bottom: 15%;
			left: 0;
			right: 0;

			text-align: center;

			.btn{
				padding-left: 12px;
				padding-right: 12px;
			}
		}
	}

	.slide--text{
		.slide__heading{
			top: 17%;
			left: 35%;
		}

		.slide__heading-sub{
			top: 26%;
			left: 35%;
			font-size: 36px;
		}

		.slide__info{
			top: 42%;
			left: 35%;
			color: @primary-color;
			font-size: 12px;
			line-height: 18px;
		}

		.link{
			top: 80%;
			left: 35%;
		}
	}

	.slide--circle{
		.brand-circle{
			top: -20px;
			margin-left: -130px;
		}

		.slide__heading{
			top: 33%;
			font-size: 36px;
		}

		.slide__heading-sub{
			top: 46%;
			font-size: 20px;
		}

		.slide__btn{
			top: 63%;
		}
	}

	//onepage layout
	.start-block{
		padding-top: 130px;
		padding-bottom: 330px;
	}

	.rocket-container{
	    top: -45px;
	}

	.rocket-container.small-left{
	    top: 30px;
	}

	.rocket-container.small-right{
	    top: 30px;
	}

	.header-line--shop{
		margin-bottom: 0;
	}

	//Cart
	.cart{
		top: 25px;
		right: 95px;
	}
}

// Small devices (tablets, 768px)
@media (max-width: 767px) {


	//mage menu
	.z-nav__list-secondary .z-nav__item{
		padding-left: 19px;
	}

	.z-nav__item .mega-menu,
	.z-nav__item:hover .mega-menu{
		width: 340px;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.z-nav--shop .z-nav__item .mega-menu,
	.z-nav--shop .z-nav__item:hover .mega-menu{
		width: 340px;
		margin-left: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.z-nav--shop{
		margin-right: 0;
	}

	.column-sm{
		width: 100%;
	}

	.column-lg{
		width: 100%;
	}

	.cut-section{
		padding-right: 15px;
	}

	//Cart
	.cart{
		right: 95px;
	}

	//General
	.prevent{
		display: none;
	}

	//Search
	.search{
		width: 120px;
	}

	//Search
	.search .search__field{
		width: 100%;
	}

	.slider__text{
		display: none;
	}

	//Contact block
	.contact-info .contact-info__item{
		padding-right: 5px;
	}

	//form
	.form-wrapper{
		padding-right: 0;
	}

	//icons present rules
	.icon-present.icon--strips{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 0;
	}

	.icon-present .icon__item{
		margin-bottom: 10px;
	}

	.icon-present.icon--shape {
    	margin-top: 35px;
	}

	.icon-present.icon--border{
		margin-top: 20px;
	}

	.mobile-icon{
		margin-left: 35px;
	}

	//img container
	.image-container{
		margin-bottom: 20px;
	}

	.link-sample {
	    display: inline-block;
	    margin-bottom: 20px;
	    margin-right: 40px;
	}

	.swiper-slide .image-container{
		margin-bottom: 0;
	}

	//stat shape
	.stat--shape{
		margin-bottom: 20px;
	}

	.stat--shape:before,
	.stat--shape:after{
		right: -35%;
	}

	.stat--shape-end:before,
	.stat--shape-end:after{
		display: none;
	}

	//table
	.table--wide tbody > tr > td.table__done,
	.table--wide tbody > tr > td.table__wait,
	.table--wide tbody > tr > td.table__error{
		padding-left: 10px;
		padding-right: 10px;
	}

	.testimonial{
		margin-bottom: 20px;
	}

	//Steps
	.sequence .sequence__item{
		display: block;
		float: none;
	}

	.sequence .sequence__separator{
		float: none;
		margin-top: 0;
	}

	.sequence .sequence__devider{
		display: block;
		margin: 5px 30px;
	}

	//Widgets
	.widget-circle:before{
		top: 126px;
	}

	.widget-timetable-large{
		padding-bottom: 10px;
	}

	.widget-timetable-large .wijchart-axis-label[y="160"]{
		display: none;
	}

	.date-slider{
		max-height: 100%;
	}

	.brand-circle{
		width: 260px;
		height: 260px;
	}

	.brand-circle:before{
		top: 50px;
	}

	.slider__text{
		font-size: 12px !important;
		color: @primary-color;
	}

	.slider__heading--sm-danger{
		font-size: 18px !important;
	}

	.slider__heading--lg-primary{
		font-size: 30px !important;
	}

	.slider__btn .link{
		font-size: 14px;
	}

	//fullwidth slider info
	.slider-info{
		padding-top: 30px;
		font-size: 14px;
	}

	.tparrows.default{
		width: 8%;
	}

	.slider-siderbar-control{
		min-height: 100%;
		padding-bottom: 90px;
		margin-right: 0;
	}

	.slide-info .slide-info__icon{
		margin-top: -20px;
		margin-bottom: -20px;
	}

	.slide-info{
		padding: 0 80px;
	}

	.widget{
		margin-bottom: 20px;
	}

	.link-list{
		margin-bottom: 60px;
	}

	.price--row{
		.price{
			margin: 0 -15px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
	}

	.price-info{
		margin-top: 0;
		margin-bottom: 40px;
	}

	.price-info__item{
		padding-left: 0;
		text-align: center;
	}

	.progress-cut{
		padding-right: 0;
	}

	.icon--strips .icon__item{
		margin-bottom: 20px;
	}

	.table--target{
		margin-top: 15px;
	}

	.testimonial-first{
		padding-top: 0;
	}

	.price-container{
		margin-bottom: 80px;
	}

	.price,
	.price-info{
		margin-bottom: 10px;
	}

	.footer{
		.swiper-container{
			padding-bottom: 60px;
		}

		.swiper-pagination{
			bottom: 10px;
		}
	}

	.max-slider{
		max-width: 555px;
		margin-left: auto;
		margin-right: auto;
	}

	.widget{
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
	}

	.present-addition{
		margin-top: 20px;
	}

	//Post responsive
	.post-wide{
		padding-right: 15px;
	}

	.blockquote{
		padding-right: 30px;
		padding-left: 32px;
	}

	.blockquote--empty:after{
		font-size: 80px;
		top: 15px;
		left: 0;
	}

	.submit-control{
		width: 100%;
	}

	.subscribe .subscribe__field{
		min-width: 100%;
		width: 100%;
	}

	.post__interaction .share .share__item{
		padding-left: 10px;
		padding-right: 5px;
		font-size: 12px;
	}

	.post--similar {
		clear: both;
	}

	.post--similar .post__images{
		margin-bottom: 10px;
	}

	.comment-form .col-left{
		padding-right: 15px;
	}

	.comment-form .col-right{
		padding-left: 15px;
	}

	.sidebar{
		margin-top: 60px;
	}

	.post--popular{
		max-width: 262px;
	}

	.facebook-group{
		max-width: 280px;
	}

	.facebook-group iframe{
		width: 240px !important;
		height: 275px !important;
	}

	.flickr li{
		width: auto;
	}

	.comment-form .btn-submit{
		float: none;
		margin-top: 20px;
	}

	.post--popular .image-container{
		margin-bottom: 0;
	}

	.heading-mobile{
		margin-top: 30px;
	}

	//Full post
	.post--preview-link{
		max-width: 570px;

		.image-container{
			margin-bottom: 0;
		}
	}

	.post--table{
		width: 33.2%;

		.image-container,
		.testimonial{
			margin-bottom: 0;
		}
	}

	.slider-siderbar--secondary .slide-info__heading{
		margin-top: 55px;
	}

	//timeline post
	.post--short-link .post{
		max-width: 240px;
		min-width: 190px;

		.post__link-area{
			max-width: 240px;
		}
	}

	.post--short-link .post__detail{
		padding-bottom: 20px;
	}

	.post--table-horisontal{
		width: 100%;

		.post__heading{
			padding: 13px 10px 13px 0;
		}

		.post__date{
			margin-bottom: 5px;
		}

		.post-detail{
			padding: 0;
		}
	}

	//gallery
	.gallery-item{
		max-width: 555px;
		margin-right: auto;
		margin-left: auto;
	}

	.desktop-middle,
	.desktop-small{
		.gallery-item__heading{
			padding-top: 25%;
		}

		.btn{
			padding: 15px 34px 12px;
		}
	}

	.image-container--border-small{
		&:before{
			top:5%;
			right: 5%;
			bottom: 5%;
			left: 5%;
			width: 90%;
			height: 90%;
		}
	}

	.gallery-full{
		.image-container{
			margin-bottom: 0;
		}
	}

	.pager .pager__next,
	.pager .pager__prev{
		top: 120px;
	}

	.block-title--bottom{
		margin-bottom: 100px;
	}

	.blockquote--strong{
		padding-top: 18px;
	}

	//about
	.about{
		background: none;
		padding-top: 55px;
		padding-bottom: 55px;
	}

	//staff slider
	.staff{
		margin: 0 auto 20px;
	}

	.opposite-block{
		padding-left: 15px;
	}

	.opposite-block .heading-helper{
		text-align: left;
	}

	//join block

	.join .join__additional:before,
	.join .join__additional:after{
		display: none;
	}

	.join .join__image{
		width: 436px;
		height: 85px;
	}

	.join .join__additional{
		font-size: 40px;
	}

	.comment-form .btn--top-control{
		margin-top: -34px;
	}

	.post--table-horisontal .post__detail{
		min-height: 215px;
	}

	//contact
	.form-container{
		left: 20px;
	}

	.bordered-container{
		margin-bottom: 20px;
	}

	.contact-info--primary{
		padding-left: 20px;
	}

	.contact-info--primary .contact-info__item{
		display: block;
		margin-bottom: 20px;
		text-align: left;

		.fa-skype{
			left: 5px;
		}
	}

	.service-step .service-step__descript{
		padding-bottom: 40px;
		padding-left: 115px;
	}

	.service-step .image-container{
		margin-left: auto;
		margin-right: auto;
	}

	.service--large-present{
		min-height: 360px;
		display: block;
		overflow: hidden;
		text-align: center;

		.icon{
			float: none;
			margin-right: 0;
		}
	}

	.devider--top-larger-b{
		margin-top: 50px;
	}

	.promo-space{
		margin-left: 0;
	}

	.service{
		text-align: center;

		.icon{
			float: none;
			display: inline-block;
		}

		.service__heading{
			display: inline-block;
		}
	}

	//Dashboard sidebar mobile
	.logo--block{
		width: 100%;
		min-height: 60px;
		text-align: center;

		.logo__text{
			display: inline-block;
			margin-top: 10px;
			margin-bottom: 16px;
		}
	}

	.search--empty{
		width: 100%;
		max-width: 230px;
		padding-top: 10px;

		.search__btn{
			top: 19px;
		}
	}

	.header-fluid {
		min-height: 195px;
	}

	.header-fluid .header__controls{
		//margin-top: -50px;
		padding-top: 10px;

		.user{
			display: block;
			overflow: hidden;
		}
	}

	.nav-sidebar{
		position: absolute;
		top: 0;
		left: -245px;
		z-index: 200;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
		-webkit-transition: -webkit-transform 500ms ease-in;
		-moz-transition: -moz-transform 500ms ease-in;
		transition: transform 500ms ease-in;
	}

	.nav-sidebar.navigation-open{
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
	}

	.navigation-toggle{
		display: block;
		position: absolute;
		top: 15px;
		left: 0;
		width: 40px;
		height: 40px;
		z-index: 500;
		padding-top: 4px;
		font-size: 21px;
		text-align: center;
		color: @null-color;
		background-color: @secondary-background;
		-webkit-transform: translateX(260px);
		-moz-transform: translateX(260px);
		-ms-transform: translateX(260px);
		transform: translateX(260px);
		-webkit-transition:background-color 300ms ease-in, -webkit-transform 300ms ease-in;
		-moz-transition:background-color 300ms ease-in, -moz-transform 300ms ease-in;
		transition:background-color 300ms ease-in, transform 300ms ease-in;
		.border-radius(50%);

		&:hover{
			color: @null-color;
			background-color: @primary-color;
		}

		&:focus{
			color: @null-color;
		}
	}

	.navigation-toggle.navigation-open{
		-webkit-transform: translateX(190px);
		-moz-transform: translateX(190px);
		-ms-transform: translateX(190px);
		transform: translateX(190px);
	}

	.navigation-toggle.navigation-open{
		background-color: @primary-color;
	}

	.content-dashboard{
		padding-left: 15px;
		padding-right: 15px;
	}

	.full-row{
		padding-left: 0;
	}

	.search--large{
		width: auto;
		margin-left: 20%;
		margin-right: 20%;
	}

	.search--long{
		width: 240px;
	}

	.forum .forum__connector{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.search--centered{
		margin-left: 0px;
	}


	//product
	.product .product__sale--under{
		top: -70%;
		left: 42%;
	}

	.product--list .product__photo{
		max-width: 330px;
		margin-right: 20px;
	}

	.product--list .product__title{
		padding-right: 0;
		margin-top: 10px;
	}

	.product__action{
		overflow: hidden;
	}

	.product--list .product__price{
		display: block;
		margin-top: 30px;
	}

	.separate-block{
		overflow: hidden;
		border-right: none;
		border-bottom: 1px solid #dfe6e7;
		padding-bottom: 30px;
	}

	.product__btn{
		margin-bottom: 20px;
	}

	.product--list-sm{
		.product__photo{
			max-width: 165px;
		}
	}

	//slideshow-full
	.slidershow-large{
		max-width: 360px;
		/*max-height: 360px;*/
		margin-left: auto;
		margin-right: auto;
	}

	.thumbs--full{
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}

	.thumbs--full .thumb{
		max-width: 100%;
	}

	.thumbs--full li{
		width: 32.5%;
	}

	.product__decribe{
		overflow: hidden;
	}

	.product__decribe--full{
		.product__info{
			padding-right: 0;
		}

		.product-rating{
			position: relative;
			top: 0;
			right: 0;
		}

		.product__review{
			position: relative;
			top: 0;
			right: 0;
		}

		.product__more{
			position: relative;
			top: 0;
			right: 0;
			width: 120px;
			text-align: left;
			margin-bottom: 20px;
		}
	}

	.mobile--devider{
		margin-top: 0;
	}

	.subscribe--empty{
		float: none;
		margin-top: 10px;
	}

	//check
	.contact--check {
		padding-right: 0px;
	}

	.table--cart{
		.product__thumb{float: none;}

		.remove-item{
			top: -3px;
			right: -10px;
		}
	}

	.sub-header--side{
		text-align: left;
		padding-top: 20px;
	}

	.btn--facebook,
	.btn--twitter{
		margin-bottom: 15px;
	}

	.post--latest .post__text{
		margin-right: 0;
	}

	//footer mod
	.footer--cut .contact-info{
		padding-left: 0;
	}

	.footer--cut .contact-info .contact-info__item{
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	//cut for tables devices elements

	.price-container,
	.testimonial,
	.vacancy,
	.accordion,
	.question-wrapper,
	.shopping-result{
		margin-left: 10%;
		margin-right: 10%;
	}

	.promo--border-full{
		padding-left: 35px;
		padding-right: 35px;
	}

	.list.list--bigger li{
		padding-bottom: 20px;
	}

	.fading-slider{
		.service{
			text-align: center;
		}

		.service .icon{
			float: none;
			display: inline-block;
		}

		.service .service__heading{
			display: inline-block;
		}
	}

	.fade-slider-control .prev-arrow,
	.fade-slider-control .next-arrow{
		display: none;
	}

	.fading-slider{
		text-align: center;
		.product-slider-pagination{
			margin-top: 15px;
			display: block;
		}
	}

	.feature{
		text-align: center;
		margin-bottom: 40px;
		margin-right: 0;
	}

	.feature .feature__heading{
		margin-top: 20px;
		font-size: 14px;
	}

	.feature .feature__image{
		text-align: center;
	}

	.feature .feature__image--clock{
		padding-left: 0;
	}

	.feature .feature__image--page img{
		max-width: 181px;
	}

	.feature .feature__image--responsive img{
		max-width: 147px;
	}

	.feature .feature__image--clock img {
	    max-width: 80px;
	}

	.fearure-slider{
		display: block;
	}

	.post--preview-link{
		margin-left: auto;
		margin-right: auto;
	}

	//special block
	.special .special-inner:before,
	.special .special-inner:after{
		display: none;
	}

	.service--center{
		.icon{
			display: block;
		}
	}

	//testimonial section share area
	.sub-header--mobile{
		float: left;
		margin-top: -34px;
		margin-right: 40px;
		margin-bottom: 40px;
		overflow: hidden;
	}

	.share--top{
		margin-top: 106px;
		margin-bottom: 0;
	}

	.testimonial-block--home{
		padding-bottom: 110px;
	}

	//tags line
	.tags-line{
		text-align: center;
		padding-bottom: 2px;
	}

	.tags-line .tags-line__title{
		margin-right: 0;
		margin-bottom: 15px;
		display: block;
		float: none;
	}

	.tags--bordered .tags__link{
		margin-bottom: 20px;
	}

	.forum--alt .search--large{
		display: block;
		margin-left: 10%;
    	margin-right: 10%;
	}

	.forum--alt .search__field{
		min-width: 100%;
	}

	.subscribe-line .subscribe-line__info{
		display: block;
		text-align: center;
	}

	.subscribe-line .subscribe{
		float: none !important;
	}

	.subscribe-line .subscribe__field {
	    min-width: 100%;
	}

	//shop slider

	.slider__text{
		display: none;
	}

	.slider__heading--sm-danger{
		padding-left: 20px !important;
	}

	.slider__heading--lg-primary{
		margin-top: 5px !important;
		padding-left: 20px !important;
	}

	.slider__btn--mobile{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	.slider__discount{
		padding-right: 20px !important;
	}

	.slider__marker{
		padding-right: 20px !important;
	}

	.slider__about{
		padding-right: 20px !important;
	}

	.laptop--mobile{
		padding-left: 20px !important;
	}

	.footer--expand .contact-info{
		margin-top: -30px;
		padding-left: 0;
	}

	.footer--expand .contact-info .contact-info__item{
		display: block;
		max-width: 240px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.slide-disabled{
		&:before{
			display: none;
		}
	}

	.table--target .table__category-photo	{
		float: none;
	}

	.breadcrumb > li + li:before{
		padding-left: 0;
		padding-right: 0;
	}

	.z-nav__link{
		.transition(all 300ms ease-in);
	}

	.table--product .product__thumb{float: none;}

	.post--preview-link.post--right{
		padding-left: 0;
		text-align: left;

		.image-container{
			float: none !important;
		}
	}

	.service--colored-large .icon{
		float: left;
	}

	.service--colored-large .service__info{
		text-align: left;
	}

	.service--reverse .icon{
		float: right;
	}

	.service--reverse .service__info{
		text-align: right;
	}

	.search--empty{
		padding-top: 80px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.search--empty .search__btn{
		top: 87px;
	}

	.header-fluid{
		min-height: 250px;
	}

	.header-fluid .header__controls{
		float: none;
		text-align: center;
	}

	.header-fluid .header__controls .user{
		max-width: 210px;
		margin-left: auto;
		margin-right: auto;
	}

	.user .user__name{
		display: inline-block;
		margin-top: 13px;
	}

}

// Specific devices
@media (max-width: 640px) {
	//royalslider
	.royalSlider,
	.flexslider {
		display: none;
	}

	//onepage layout
	.start-block{
		padding-top: 50px;
		padding-bottom: 190px;
	}

	.start-block .start-block__heading{
		font-size: 30px;
		line-height: 38px;
	}

	.start-block .start-block__moto{
		font-size: 20px;
		padding-bottom: 14px;
	}

	.rocket-container{
	    top: -85px;
	}

	.rocket-container.small-left{
	    top: -20px;
	}

	.rocket-container.small-right{
	    top: -20px;
	}

	.devider-color--onepage{
		position: relative;
		z-index: 20;
		padding-bottom: 90px;
		margin-bottom: -90px;
		background-color: #fff;
	}

	//Cart mobile view
	.logo--shop{
		display: block;
		width: 100%;
		text-align: center;

		.logo__text{
			padding-left: 0;
			background: none;
		}
	}

	.cart{
		right: auto;
		left: 15px;

		.cart__toggle--icon{
			display: block;
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);

			-webkit-transition: -webkit-transform 250ms ease 600ms;
			-moz-transition: -moz-transform 250ms ease 600ms;
			transition: transform 250ms ease 600ms;
		}

		.cart__head{
			position: absolute;
			top: 0;
			left: -385px;
			display: block;
			width: 370px;
			height: 48px;
			background-color: #2c3e50;
			.border-radius(0 24px 0 0);
			overflow: hidden;
			-webkit-transition: -webkit-transform 200ms ease-in 350ms;
			-moz-transition: -moz-transform 200ms ease-in 350ms;
			transition: transform 200ms ease-in 350ms;
/*
			&:before{
				content: "\f07a";
				position: absolute;
				top: 8px;
				right: 15px;
				font-size: 20px;
				font-family: FontAwesome;
				color: @warning-color;
			}
      */
		}
    .cart__head__icon{
      display:block;
      position: absolute;
      top: 8px;
      right: 15px;
    }

		.cart__text{
			position: absolute;
			top: 13px;
			left: 15px;
			z-index: 20;
			display: block;
			width: 180px;
			font-weight: bold;
			color: @null-color;
			-webkit-transform: translateY(-50px);
			-moz-transform: translateY(-50px);
			-ms-transform: translateY(-50px);
			transform: translateY(-50px);
			-webkit-transition: -webkit-transform 200ms ease-in 0ms, opacity 200ms ease-in 0ms;
			-moz-transition: -moz-transform 200ms ease-in 0ms, opacity 200ms ease-in 0ms;
			transition: transform 200ms ease-in 0ms, opacity 200ms ease-in 0ms;
			opacity: 0;
		}

		//open nav
		.cart__toggle.open-nav{
			.cart__toggle--icon{
				-webkit-transform: translateX(-80px);
				-moz-transform: translateX(-80px);
				-ms-transform: translateX(-80px);
				transform: translateX(-80px);
				-webkit-transition: -webkit-transform 250ms ease-in 0ms;
				-moz-transition: transform 250ms ease-in 0ms;
				transition: transform 250ms ease-in 0ms;
			}

			.cart__head{
				-webkit-transform: translateX(100%) rotateY(0);
				-moz-transform: translateX(100%) rotateY(0);
				-ms-transform: translate(100%, 0) rotate(0);
				transform: translateX(100%) rotateY(0);
			}

			.cart__text{
				opacity: 1;
				-webkit-transform: translateY(0px);
				-moz-transform: translateY(0px);
				-ms-transform: translateY(0px);
				transform: translateY(0px);

				-webkit-transition: -webkit-transform 200ms ease-in 550ms, opacity 200ms ease-in 550ms;
				-moz-transition: -moz-transform 200ms ease-in 550ms, opacity 200ms ease-in 550ms;
				transition: transform 200ms ease-in 550ms, opacity 200ms ease-in 550ms;
			}
		}

		.cart__link{
			display: none;
		}

		.cart__list{
			top: 48px;
			right: auto;
			left: -385px;
			z-index: 1;

			//Animation
			opacity: 0;
			-webkit-transform: translateX(0) rotateY(0);
			-moz-transform: translateX(0) rotateY(0);
			-ms-transform: translateX(0) rotateY(0);
			transform: translateX(0) rotateY(0);
			-webkit-transition: -webkit-transform 200ms ease-in 350ms, opacity 0ms ease-in 600ms;
			-moz-transition: -moz-transform 200ms ease-in 350ms, opacity 0ms ease-in 600ms;
			transition: transform 200ms ease-in 350ms, opacity 0ms ease-in 600ms;
		}

		.cart__list:hover{
			-webkit-transform: translateX(100%) rotateY(0);
			-moz-transform: translateX(100%) rotateY(0);
			-ms-transform: translateX(100%) rotateY(0);
			transform: translateX(100%) rotateY(0);
		}

		.cart__list.open-nav{
			opacity: 1;
			-webkit-transform: translateX(100%) rotateY(0);
			-moz-transform: translateX(100%) rotateY(0);
			-ms-transform: translate(100%, 0) rotate(0);
			transform: translateX(100%) rotateY(0);
			-webkit-transition: -webkit-transform 200ms ease-in 350ms, opacity 0ms ease-in 0ms;
			-moz-transition: -moz-transform 200ms ease-in 350ms, opacity 0ms ease-in 0ms;
			transition: transform 200ms ease-in 350ms, opacity 0ms ease-in 0ms;
		}

		.cart__list.close-nav{
			-webkit-transform: translateX(0) rotateY(0);
			-moz-transform: translateX(0) rotateY(0);
			-ms-transform: translateX(0) rotateY(0);
			transform: translateX(0) rotateY(0);
		}
	}


	//Search
	.search{
		width: 100%;
		float: left !important;
		margin-bottom: 5px;
	}

	//Search
	.search .search__field{
		width: 100%;
	}

	.search--light{
		float: none !important;
		padding: 0 20px;
		margin-top: 0;
		margin-bottom: 15px;

		.search__btn{
			right: 15px;
		}
	}

	.breadcrumb--nav{
	}

	.hidden-lower{
		display: none;
	}

	//pagination control
	.pagination .mobile-large{
		display: none;
	}

	.promo--border-full .promo__text{
		width: 100%;
	}

	.table--vertical tbody > tr > .vertical-heading{
		padding-left: 20px;
	}

	.table--vertical tbody > tr > td{
		padding-left: 20px;
	}

	.tabs .nav-tabs a{
		padding-left: 15px;
		padding-right: 15px;
	}

	//slider full width
	.banner-control{
	 	display: none;
	}

	.mobile-full-placeholeder,
	.placeholeder-control{
		display: block;
	}

	.slide-info{
		padding: 0 50px;
	}

	.leftside-arrow:hover{
		.slide-preview{
			-webkit-transform: translateX(-100%);
			-moz-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			transform: translateX(-100%);
		}

		.fa{
				-webkit-transform: translateX(0);
				-moz-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
		}
	}


	.rightside-arrow:hover{
		.slide-preview{
			-webkit-transform: translateX(100%);
			-moz-transform: translateX(100%);
			-ms-transform: translateX(100%);
			transform: translateX(100%);
		}

		.fa{
				-webkit-transform: translateX(0);
				-moz-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
		}
	}

	//Specific header margin on mobile
	.heading-info--mobile{
		margin-top: 45px;
	}

	//Post responsive
	.blockquote .blockquote__author{
		padding-right: 22px;
	}

	.post--preview-link{
		.post__heading{
			margin-top: 10px;
			margin-bottom: 8px;
		}

		.post__author{
			margin-top: -20px;
		}

		.post__text{
			line-height: 20px;
		}
	}

	.post--preview-link.post--right{
		.image-container{
			float: none !important;
		}
	}

	.post--table{
		width: 49.9%;
	}

	.post--short-link{
		.image-container{
			float: none;
			margin-right: 0;
			margin-bottom: 0;
		}
	}

	.post--short-link:nth-child(2n){
		.image-container{
			float: none;
			margin-left: 0;
			margin-bottom: 0;
		}
	}

	.post--table-horisontal{
		width: 100%;

		.post__heading{
			padding: 20px 0 22px;
		}

		.post__date{
			margin-bottom: 15px;
		}

		.post-detail{
			padding: 0;
		}
	}

	.post-author .post-author__photo{
		margin-right: 30px;
	}

	.post-author__social{
		clear: both;
	}

	//person
	.person {
		text-align: center;
	}

	.person .person__image{
		float: none;
		margin: 0 auto;
	}

	.opposite-block .stat--additional{
		margin-right: 30px;
	}

	//vacancy
	.vacancy{
		padding-left: 60px;

		.vacancy__heading{
			margin-left: -40px;
		}
	}

	.comment-form .btn--top-control{
		margin-top: 10px;
	}

	.form-handler{
		padding: 59px 60px 0;
	}

	.service--large-present{
		min-height: 410px;
	}

	//service decorated
	.service--colored-large .icon--border .icon__item{
		width: 240px;
		height: 240px;
	}

	.service--colored-large .service__info{
		padding-left: 20px;
		min-height: 240px;
	}

	.service--colored-large .service__heading{
		padding-top: 42px;
	}

		//reverce
	.service--reverse .service__info{
		padding-left: 0;
		padding-right: 20px;
		min-height: 240px;
		margin-right: 240px;
	}

	.service--reverse .icon{
		margin-top: -240px;
	}

	.search--large{
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}

	.search--large .search__field{
		min-width: 280px;
	}

	.search--large .search__btn{
		right: 25px;
	}

	.search--long{
		padding-top: 20px;
		float: none !important;

		.search__btn{
			top: 20px;
		}
	}

	.forum-thread .forum-thread__results{
		padding-left: 25px;
		margin-top: 10px;
		margin-bottom: 20px;
		float: none;
	}

	//product
	.product--list .product__photo{
		max-width: 360px;
		margin-left: auto;
	    margin-right: auto;
		float: none;
	}

	.product--list .product__title{
		margin-top: 25px;
	}

	.product__btn{
		margin-bottom: 30px;
	}

	.product--list-sm{
		.product__photo{
			max-width: 165px;
			float: left;
			margin-right: 20px;
		}
	}

	.product__thumb{
		float: none;
	}

	.table--max{
		width: 100%;
	}

	.link--shopping{
		float: none;
		margin-top: 10px;
	}

	//login
	.login .checkbox{
		margin-left: 0px;
	}

	//error
	.error{
		.error__main{
			width: 247px;
			height: 99px;
		}

		.error__back{
			margin-top: 210px;
		}
	}

	.price-container,
	.testimonial,
	.vacancy,
	.accordion,
	.question-wrapper,
	.shopping-result{
		margin-left: 0;
		margin-right: 0;
	}

	.special{
		background-size: 290px 119px;

		.special__price{
			margin-bottom: 75px;
   			margin-top: 40px;
		}
	}

	.forum--alt .search__btn{
		right: 0;
	}

	//General
	.one-column-lg{
		width: 100%;
	}

	.form-container{
		position: relative;
		top: 0;
		left: 0;
	}

	.form-container .form-container__slogan{
		display: none;
	}

	.map--large{
		height: 450px;
	}

	.search--empty{
		float: none !important;
	}
}

@media (max-width: 520px) {

	.header-fluid .header__controls{
		float: none;
		padding-top: 20px;
		padding-left: 30px;
		padding-bottom: 20px;

		.user .user__name{
			display: block;
			padding-top: 13px;
		}
	}

	.search--empty {
		max-width: 200px;
	}

	.social--neutral{
		display: block;
		margin-top: 10px;
		margin-left: 0;
	}
}

@media (max-width: 480px) {
	//General
	.one-column{
		width: 100%;
	}


	.stat--shape:before,
	.stat--shape:after{
		display: none;
	}

	//Twitter carousel
	.twitter-article .twitter-pic{
		margin-bottom: 10px;
	}

	.twitter-article .twitter-author{
		float: none;
		padding-top: 9px;
		margin-bottom: 0;
	}

	.twitter-article .tweetprofilelink{
		margin-top: 0;
	}

	.twitter-article .twitter-text{
		clear: both;
	}

	//btn
	.btn-sm{
		margin-bottom: 20px;
	}

	//pagination control
	.pagination  .mobile-small{
		display: none;
	}

	.promo--border-full{
		padding-left: 50px;
		padding-right: 50px;
	}

	.tabs .nav-tabs a{
		padding-left: 10px;
		padding-right: 10px;
	}

	.tabs--minimal .nav-tabs a,
	.tabs--minimal-vertical .nav-tabs a{
		font-size: 14px;
	}

	.tabs--vertical .nav-tabs,
	.tabs--minimal-vertical .nav-tabs{
		width: 110px;
	}

	.tabs--vertical .tab-content,
	.tabs--minimal-vertical .tab-content{
		margin-left: 109px;
	}

	.slide-info{
		padding: 0 15px;
	}

	#twitter-actions{
		margin-top: -18px;
	}

	.intent,
	#intent-retweet{
		padding-right: 7px;
	}

	.link-list--last{
		margin-bottom: 0;
	}

	.carousel-sides{
		max-height: 360px;
	}

	.thumbs .thumb{
		max-width: 80px;
	}

	//Full post
	.post--preview-link{
		max-width: 262px;
		padding-right: 0;

		.post__heading{
			padding: 0 10px;
		}

		.post__text{
			padding: 0 10px;
			line-height: 26px;
		}

		.post__author{
			padding: 10px;
		}
	}

	.post--preview-link.post--right{
		padding-left: 0;
	}

	.header-oneline{
		margin-bottom: 40px;
	}

	.post--preview-link.post--right{
		text-align: center;
	}

	//timeline
	.timeline{
		&:before{
			left: auto;
			right: 20px;
		}
	}

	.post--short-link{
		padding-right: 0;
		margin-bottom: 20px;

		&:before{
			left: auto;
			right: 0;
		}

		&:after{
			width: 100%;
		}

		.post{
			width: 80%;
		}
	}

	.post--short-link:nth-child(2n){
		padding-left: 0;
		text-align: left;
	}

	.post-author .post-author__photo{
		float: none;
		margin-right: 0;
	}

	//gallery item
	.gallery-item .gallery-item__heading{
		padding-top: 22%;
		font-size: 14px;
	}

	.gallery-item .btn{
		padding: 10px 21px 7px;
		font-size: 16px;
	}

	.achivement-item .achivement-item__marker:before{
		left: -40px;
	}

	.achivement-item .achivement-item__marker:after{
		right: -40px;
	}

	//staff slider
	.staff .staff__name,
	.staff .staff__position{
		padding: 0 10px;
	}

	.testimonial-wrap .testimonial{
		max-width: 295px;
	}

	.opposite-block .stat-row{
		padding-bottom: 0;
	}

	.opposite-block .stat{
		display: block;
	}

	//vacancy
	.vacancy{
		padding-left: 40px;

		.vacancy__heading{
			margin-left: -20px;
		}
	}

	//join block
	.join .join__image{
		width: 218px;
		height: 42px;
	}

	.join .join__additional{
		font-size: 34px;
	}

	.post--table{
		width: 100%;
		max-width: 292px;
	}

	.post--table-horisontal{
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;

		.image-container{
			max-width: 400px;
			float: none;
			margin-right: 0;
			margin-bottom: 0
		}
	}

	.post--video .post-heading--oneline{
		margin-top: 27px;
	}

	.form-container{
		width: 90%;
		left: 5%;
		right: 5%;
	}

	.form-handler{
		padding: 59px 20px 0;
	}

	.service-step .service-step__descript{
		padding-left: 25px;
	}

	.service--colored-large{
		max-width: 240px;
		margin-right: auto;
		margin-left: auto;
	}

	.service--colored-large .icon--border{
		float: none;
	}

	.service--reverse .service__info{
		margin-right: 0;
	}

	.service--reverse .icon{
		margin-top: 0px;
	}

	//widget
	.widget--message .widget__time{
		top: 5px;
		right: 25px;
	}

	.search--large .search__field{
		min-width: 240px;
	}

	// forum item reflow
	.forum-item .forum-item__about{
		font-size: 12px;
		position: absolute;
		top: 5px;
		right: 20px;
		margin-top: 0;
	}

	.forum-item .forum-item__photo{
		margin-right: 7px;
	}

	//cart
	.cart .cart__list{
		left: -285px;
		width: 270px;
		min-width: 180px;
	}

	.cart .cart__head{
		left: -285px;
		width: 270px;
	}

	.cart .cart__toggle.open-nav{
		z-index: 2000;
	}

	.select--size{
		margin-top: 0;
		margin-bottom: 20px;
		float: none !important;
	}

	//product
	.product .product__sale{
		top: 100%;
		left: 0;
	}

	.product .product__sale--under{
		top: -70%;
		left: 35%;
	}

	.product--list-sm{
		.product__photo{
			float: none;
			margin-right: auto;
			margin-left: auto;

		}
	}

	//fullslideshow
	.thumbs--full .thumb{
		max-width: 100%;
	}

	.thumbs--full li{
		width: 31.5%;
	}

	.tabs{
		.comment .comment__number{
			float: none;
			margin-bottom: 15px;
		}
	}

	.table--short td{
		padding-left: 30px;
	}

	.accordion-link .step__number{
		font-size: 34px;
		right: 10px;
		top: 5px;
	}

	.table--cut{
		max-width: 265px;
	}

	.service--large-present{
		min-height: 100%;
	}

	.form-container .form-container__slogan{
		background-position: 80% 100%;
	}

	.widget--message .widget__content-item{
		padding-right: 15px;
	}

	.footer--cut .contact-info .contact-info__item{
		max-width: 100%;
	}

	.fading-slider{

		.service .icon{
			display: block;
			float: none;
			margin-right: 0;
		}

		.service .service__heading{
			padding: 10px 0 15px;
		}
	}

	.post--preview-link{
		text-align: center;
	}

	.special{

		.special__price{
			margin-bottom: 60px;
   			margin-top: 30px;
		}
	}

	//testimonial section share area
	.sub-header--mobile{
		float: left;
		margin-top: -100px;
		margin-right: 0;
		margin-bottom: 0;
		overflow: hidden;
	}

	.share--top{
		margin-top: 156px;
		margin-bottom: 0;
	}

	.short-contact{
		.short-contact__text{
			font-size: 18px;
		}

		.short-contact__tel{
			font-size: 30px;
		}
	}

	.forum--alt .search--large{
		display: block;
		margin-left: 2%;
    	margin-right: 2%;
    	padding: 0;
	}

	.service-shot .service-shot__item{
		margin-left: 10px;
		margin-right: 10px;
	}

	.service .icon{
		display: block;
		margin-right: 0;
	}

	.service--colored-large .service__info{
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
}

@media (max-width: 420px){
	.full-placeholeder--shop{
		img{
			max-width: 315px;
			max-height: 246px;
			margin-bottom: -10px;

		}
	}
}

@media (max-width: 320px) {
	//onepage layout
	.start-block{
		padding-top: 50px;
		padding-bottom: 190px;
		background-position: 50% 230px;
	}

	.start-block .start-block__heading{
		font-size: 30px;
		line-height: 38px;
	}

	.start-block .start-block__moto{
		font-size: 20px;
		padding-bottom: 14px;
	}

	.z-nav__toggle{
		width: 323px;
		-webkit-transform: translate3d(301px, 0, 0);
		-moz-transform: translate3d(301px, 0, 0);
		-ms-transform: translate3d(301px, 0, 0);
		transform: translate3d(301px, 0, 0);
	}

	.z-nav__list{
		width: 240px;
	}

	.z-nav__list .z-nav__link{
		 padding: 0 20px;
	}

	.z-nav__list-secondary .z-nav__link{
		padding: 0 0 20px 5px;
    	line-height: 24px;
	}

	.promo--border-full{
		padding-left: 30px;
		padding-right: 30px;
	}

	.promo--brand{
		background-size: cover;
	}

	.tabs--vertical .nav-tabs,
	.tabs--minimal-vertical .nav-tabs{
		width: 100%;
		float: none;
	}

	.tabs--vertical .tab-content,
	.tabs--minimal-vertical .tab-content{
		margin-left: 0;
	}

	.nav-tabs > li{
		float: none;
	}

	.breadcrumb{
		float: none;
		padding-left: 0;
		padding-right: 0;
	}

	.swiper-pagination{
		bottom: 0;
	}

	//Post responsive
	.post--similar .post__images{
		margin-bottom: 35px;
	}

	.sidebar{
		margin-top: 90px;
	}

	.comment .comment__number{
		float: none;
		margin-bottom: 15px;
	}


	.pager .pager__next, .pager .pager__prev {
	    top: 150px;
	}

	.blockquote--strong{
		padding-left: 12px;
		padding-right: 12px;
	}

	//date slider
	.date-slider .swiper-slide{
		padding: 25px 19px;
	}

	.date-slider-control{
		margin-top: -78px;
	}

	.date-slider-control .prev-arrow,
	.date-slider-control .next-arrow{
		height: 50px;
		padding-top: 0;
	}

	.date-slider-control .date-slide{
		height: 50px;
		padding-top: 10px;
	}

	.search--large .search__field{
		min-width: 180px;
	}

	.forum-item .forum-item__head{
		padding-top: 45px;
	}

	//login
	.login .login__callback{
		display: block;
		float: none;
	}

	.heading-cascade .heading-cascade__step{
		line-height: 26px;
	}

	//special
	.special{
		.special__price{
			margin-bottom: 95px;
   			margin-top: 20px;
		}

		.btn{
			margin-bottom: 25px;
		}

		.btn--space{
			margin-bottom: 81px;
		}
	}

}
